html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Roboto";
}


/*
	Fonts
*/


@font-face{
	font-weight: 100;
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-display: swap;
}

@font-face{
	font-weight: 400;
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-display: swap;
}

@font-face{
	font-weight: 500;
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face{
	font-weight: 700;
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-display: swap;
}

@font-face{
	font-weight: 900;
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
	font-display: swap;
}


/*
	Design
*/

body{
	background-color: #eee;
}

h1{
	font-size: 1.7em;
	margin: 10px 0;
	font-weight: 200;
	text-align: center;
}

.homepage{
	margin: 0;
	font-size: 3em;
	padding: 2vw 0;
	font-weight: 100;
	text-align: center;
	background-color: #cfc;
	text-shadow: 0 0 2px blue;
	border-bottom: 5px solid #aea;
	animation: colorful 15s infinite;
}

h2{
	font-weight: 400;
}

b{
	font-weight: 500;
}

section{
	padding: 1vw;
	margin: 2vh 0;
	background-color: white;
	border-left: 3px solid #ccc;
}

aside{
	width: 100%;
	text-align: center;
}

aside img{
	max-width: 90%;
}


@keyframes colorful{
	from{
		text-shadow: 0 0 2px blue;
	}
	15%{
		text-shadow: 0 0 2px #84f;
	}
	30%{
		text-shadow: 0 0 2px #f4d;
	}
	45%{
		text-shadow: 0 0 2px #e61;
	}
	60%{
		text-shadow: 0 0 2px #ed1;
	}
	75%{
		text-shadow: 0 0 2px #6e1;
	}
	90%{
		text-shadow: 0 0 2px #1e7;
	}
	to{
		text-shadow: 0 0 2px blue;
	}
}

a{
	color: #334;
	padding: 2px;
	text-decoration: none;
	border-radius: 2px 2px 0 0;
	box-shadow: 0 -1px 0 0 #334 inset;
	transition: box-shadow 0.3s, color 0.3s;
}

a:hover, a:active{
	color: #ddf;
	box-shadow: 0 -50px 0 0 #334 inset;
	transition: box-shadow 0.3s, color 0.3s;
}

a.button{
	color: #121;
	display: block;
	padding: 3vh 0;
	margin: 2vh 5vw;
	font-weight: 700;
	font-size: 1.7em;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	border: 3px solid #aea;
	background-color: #cfc;
	text-shadow: 0 0 5px white;
	box-shadow: 0 0 0 0 #aea inset;
	transition: box-shadow 0.3s, text-shadow 0.3s;
}

a.button:hover, a.button:active{
	text-shadow: 0 0 5px #5f5;
	box-shadow: 0 100px 0 0 #aea inset;
	transition: box-shadow 0.3s, text-shadow 0.3s;
}

a.smallbutton{
	width: 50%;
	padding: 1vh 0;
	min-width: 250px;
	margin: 1vh auto;
	font-size: 1.2em;
}

.visible{
	font-size: 1.2em;
	text-align: center;
}

.small{
	font-size: 0.9em;
}

.pleft{
	padding-left: 10px;
}

#wrapper{
	min-height: 100%;
	margin-bottom: -50px;
	padding-bottom: 50px;
}

footer{
	font-size: 0.7em;
	padding: 2vh 5vw;
	text-align: right;
	text-shadow: 1px 1px 0 #eee;
	background: linear-gradient(#eee, #666);
}

footer a{
	text-shadow: none;
}

form{
	width: 95%;
	margin: auto;
}

label, input, select{
	display: block;
}

label{
	font-size: 0.9em;
}

input:not(:first-child), label{
	margin-top: 2vh;
}

input, select{
	width: 90%;
	border: none;
	margin: 0 auto;
	font-size: 1.2em;
	padding: 1vh 3vw;
	background-color: #eee;
	transition: box-shadow 0.2s;
}

input:hover, input:focus, select:hover, select:focus{
	transition: box-shadow 0.2s;
	box-shadow: 5px 0 #666 inset,
				0 100px 0 0 #ccc inset;
}

input[type="submit"]{
	font-size: 2em;
	cursor: pointer;
	margin: 2vh auto;
}

.msg{
	bottom: 0;
	max-height: 0;
	display: block;
	padding: 0 15px;
	position: fixed;
	overflow: hidden;
	margin-left: 100px;
	text-align: center;
	box-sizing: content-box;
	background-color: white;
	transition: max-height 0.3s;
	animation: appear-disappear 6s ease-out;
}

.error_msg{
	background-color: #fcc;
}

.success_msg{
	background-color: #cfc;
}

@keyframes appear-disappear{
	10%{
		max-height: 120px;
		padding: 20px 15px;
		box-shadow: 0 0 5px 2px #333;
	}
	90%{
		color: black;
		max-height: 120px;
		padding: 20px 15px;
		box-shadow: 0 0 5px 2px #333;
	}
	100%{
		color: #fcc;
		box-shadow: none;
	}
}

#mainMenu ul{
	margin: 0;
	display: flex;
	overflow: auto;
	padding: 5px 0 10px 0;
	white-space: nowrap;
	flex-direction: row;
	list-style-type: none;
	background-color: #ddd;
}

#mainMenu li{
	margin: 0 10px;
	padding: 5px 0;
	display: inline-block;
	background-color: #eee;
}

#mainMenu li a{
	padding: 12px;
	font-size: 1.5em;
	box-shadow: none;
}

#mainMenu li:not(:first-child){
	border-left: -2px solid #ddd;
}

.currentTab{
	box-shadow: 0 50px 0 0 #ccc inset;
}



#operation{
	left: 5px;
	bottom: 5px;
	position: fixed;
	background-color: #8f8;
}

#operationPlus{
	width: 70px;
	height: 70px;
	display: flex;
	font-size: 3em;
	box-shadow: none;
	font-weight: bold;
	text-align: center;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;
}

#operationPlus:hover{
	color: #151;
	transition: transform 0.2s;
	animation: roulerouleroulesanssarreter 1s 1 ease-in-out;
}

#operationText{
	display: none;
	padding: 15px;
	font-size: 1.2em;
	box-shadow: none;
	font-weight: 500;
	text-align: center;
	transition: color 0.2s, text-shadow 0.2s, background-color 0.2s;
}

#operationText:hover{
	color: #161;
	background-color: #5f5;
	transition: color 0.2s, text-shadow 0.2s, background-color 0.2s;
}

.popup a{
	box-shadow: none;
}

@keyframes roulerouleroulesanssarreter{
	10%{
		transform: rotate(-10deg);
	}
	90%{
		transform: rotate(380deg);
	}
	to{
		transform: rotate(360deg);
	}
}

/*
** thx https://codepen.io/imprakash/pen/GgNMXO
*/
.overlay {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	bottom: 0;
	opacity: 0;
	border: none;
	position: fixed;
	visibility: hidden;
	transition: opacity 200ms;
	background: rgba(0, 0, 0, 0.7);
}
.overlay:target {
	opacity: 1;
	visibility: visible;
}
.popup {
	padding: 20px;
	background: #fff;
	margin: 70px auto;
	position: relative;
	transition: all 1s ease-in-out;
	max-width: 1000px;
}
.popup .close {
	top: 20px;
	right: 30px;
	color: #333;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	text-decoration: none;
	transition: all 200ms;
}
.popup .close:hover {
	color: #06D85F;
}
.popup .content {
	overflow: auto;
	max-height: 30%;
}


/*
** thx https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
*/

.switch {
	width: 60px;
	height: 34px;
	position: relative;
	display: inline-block;
}

.switch input {
	width: 0;
	height: 0;
	opacity: 0;
}

.slider {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	transition: .4s;
	position: absolute;
	background-color: #c66;
	-webkit-transition: .4s;
}

.slider:before {
	left: 4px;
	bottom: 4px;
	width: 26px;
	content: "";
	height: 26px;
	transition: .4s;
	position: absolute;
	background-color: white;
	-webkit-transition: .4s;
}

input:checked + .slider {
	background-color: #6c6;
}

input:focus + .slider {
	box-shadow: 0 0 1px #6c6;
}

input:checked + .slider:before {
	transform: translateX(45px);
}

.toggle{
	display: flex;
	font-size: 1.5em;
	flex-direction: row;
	align-items: center;
}

.toggle span{
	padding: 0 10px;
}


select{
	box-sizing:content-box;
	border: none;
	margin: auto;
	background-color: #eee;
}

.operation{
	display: flex;
	flex-direction: row;
	padding: 2px 0;
	justify-content: space-around;
}


.operation:nth-child(2n){
	background-color: #eee;
}

.operation .time{
	width: 28vw;
	text-align: center;
}

.operation .amount{
	width: 19vw;
	word-wrap: break-word;
}


.operation:nth-child(2n).positive{
	background-color: rgba(200, 255, 200, 0.5);
}

.positive{
	background-color: rgba(150, 255, 150, 0.5);
}

.operation:nth-child(2n).negative{
	background-color: rgba(255, 200, 200, 0.5);
}

.negative{
	background-color: rgba(255, 160, 160, 0.5);
}

.operation .category{
	width: 27vw;
	text-align: center;
}

.operation .payment{
	width: 26vw;
	text-align: center;
}

.positiveamount{
	color: #141;
	text-shadow: 0 0 2px #cfc;
}

.negativeamount{
	color: #511;
	text-shadow: 0 0 2px #fcc;
}

#barsCategories{
	min-height: 550px;
}

#barsPayments{
	min-height: 250px;
}

#linesCategories{
	min-height: 370px;
}

.edit{
	font-size: 0.7em;
}

@media screen and (max-width: 450px) {

	#mainMenu{
		font-size: 0.8em;
	}

	#mainMenu li{
		margin: 0 3px;
	}

}

@media screen and (min-width: 750px) {

	body{
		width: 90%;
		margin: auto;
		max-width: 900px;
	}

	aside img{
		padding: 0 10vw;
		max-width: 450px;
	}

	aside{
		text-align: left;
	}

	aside:nth-of-type(odd){
		text-align: right;
	}

	footer{
		text-align: center;
		border-top: 3px solid #777;
		background: linear-gradient(#bbb, #bbb);
	}

	.msg{
		width: 90%;
		margin-left: 0;
		padding: 0;
		max-width: 900px;
	}

	#mainMenu{
		margin: auto;
		font-size: 0.8em;
	}

	#mainMenu ul{
		justify-content: space-around;
	}

	#mainMenu li{
		margin: 0 2px;
	}

	#mainMenu li a{
		padding: 5px;
	}

	@keyframes appear-disappear{
	10%{
		max-height: 120px;
		padding: 20px 0;
		box-shadow: 0 0 5px 2px #333;
	}
	90%{
		color: black;
		max-height: 120px;
		padding: 20px 0;
		box-shadow: 0 0 5px 2px #333;
	}
	100%{
		color: #fcc;
		box-shadow: none;
	}
}

	#operationPlus{
		display: none;
	}

	#operation{
		width: 80%;
		max-width: 300px;
		margin: auto;
		position: inherit;
	}

	#operationText{
		display: block;
	}


}

@media screen and (min-width: 1000px) {
	#mainMenu li{
		margin: 0;
		font-size: 1.2em;
	}
	#mainMenu ul{
		justify-content: space-evenly;
	}
}
